.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding: 93px 50px 90px;
}

.header_menu {
  display: flex;
  gap: 33.5px;
  padding-bottom: 5px;
}

.list_item {
  list-style: none;
}

.list_item_marker {
  list-style: circle;
}

.header_address {
  text-underline-offset: 5px;
}

.address_text,
.menu_link {
  font-size: 18px;
}

.menu_link {
  text-underline-offset: 3px;
}

.menu_active_link,
.lots_card_active_link {
  text-decoration: none;
}

.logo_image {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  font-style: normal;
  line-height: 1.36;
  text-align: left;
}

.header_address {
  width: 240px;
  padding-bottom: 5px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  color: white;
  background-image: url("../images/cover.jpg");
  background-position: center top;
  background-size: cover;
}

.cover_content {
  padding: 50px;
}

.dark_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  margin-bottom: 106px;
}

.title_text {
  font-size: 100px;
  letter-spacing: 30px;
  margin-right: -30px;
  margin-top: 17px;
}

.title_text_left {
  margin-right: 0;
  margin-top: 0;
}

.title_text_center {
  align-self: center;
}

.title_text_right {
  align-self: flex-end;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.subline {
  word-spacing: 18.5px;
  text-transform: uppercase;
}

.button {
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  padding: 12px 32px;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 183px 24px 0;
}

.lots_title {
  margin-left: 40px;
  font-size: 40px;
  line-height: 1;
}

.lots_cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 25px;
  margin: 30px 0;
}

.lots_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 50px 40px 47px;
  color: white;
  list-style: none;
}

.lots_card_film {
  background-image: url("../images/card-lot-01.jpg");
}

.lots_card_book {
  background-image: url("../images/card-lot-02.jpg");
}

.lots_card_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_card_background {
  background-position: center top;
  background-size: cover;
}

.lots_card_title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}

.lots_card_text {
  font-size: 20px;
}

.lots_more {
  margin-bottom: 3px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 6px;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 92px;
  padding: 24px;
}

.logo_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 47px;
  border-radius: 50%;
  background-color: black;
}

.logo_image_white {
  width: 150px;
  height: 150px;
}

.about_column {
  width: 693px;
  margin-top: 135px;
  margin-left: 25px;
}

.about_title {
  margin-bottom: 100px;
  font-size: 40px;
}

.about_text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
  padding: 50px 50px 70px;
}

.footer_address {
  width: 265px;
  text-underline-offset: 3px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.socials_badge {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.socials_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
